<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   TestSettings.plist
   SwiftCloudant

   Created by Rhys Short on 03/05/2016.
   Copyright (c) 2016 Small Text. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
